:root {
  touch-action: manipulation;
}

body {
  margin: 0;
  font-size: 0;
}

canvas {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  image-rendering: pixelated;
}
